
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PeopleSearch</title>
    @Styles.Render("~/content/css")
</head>
<body ng-app="PeopleSearch">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">PeopleSearch</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#/search">Search</a></li>
                    <li><a href="#/add">Add Person</a></li>
                </ul>
            </div>
        </div>
    </div>
    <ng-view></ng-view>

    <!-- Library Scripts -->
    @Scripts.Render("~/bundles/libraries")

    <!-- Application Scripts -->
    @Scripts.Render("~/bundles/app")
    @Scripts.Render("~/bundles/models")
    @Scripts.Render("~/bundles/services")
    @Scripts.Render("~/bundles/directives")
    @Scripts.Render("~/bundles/controllers")
</body>
</html>
